aniso8601==4.0.1
Click==7.0
Flask==1.0.2
flask-restplus==0.12.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
pytz==2018.7
six==1.12.0
Werkzeug==0.14.1

SQLAlchemy==1.1.5
SQLAlchemy-Utils==0.32.12
Flask-SQLAlchemy==2.2
Alembic==0.8.10
psycopg2==2.7.6.1
mysql-connector-python==8.0.13
